
html {
    --bgColor:#bac;  /* setting the variable with scope inside the html */
}

body {
    background-color: var(--bgColor);  /* using the variable */
}

section {
    border: 6px solid;
    margin: 5em;
    padding: 3em;
    margin: 5rem auto;
    width: 75%;
    min-height: 225px;
    background: #fff;
}

.container {
    border: 3px solid #888;
    height: 100%;
}

.box {
    border: 1px solid #888;
    width: 100px;
    height: 100px;
    margin: .5rem;
    font: bold 2rem/1.3 sans-serif;
    display: flex;
    place-items: center;
    background: var(--bgColor); /* using the variable */

}
button {
    margin: 1rem;
}

@keyframes slideUp {
    0%, 100% {
        translate:0% 0%;
    }
    50% {
        translate: 0% 500%;  
    }
}